$white: #fff;
$highlight-white-link: hsla(0, 0%, 100%, .6);
$highlight-black-link: #189bd4;

.home {
  overflow: hidden;
  background: #222;
  min-height: 600px;
  height: 95vh;
  padding-top: 2em;
  color: hsla(0, 0%, 100%, .75);

  a.logo {
    font-size: 1.3em;
    padding-left: 3em;

    &:hover {
      color: $highlight-white-link;
    }
  }

  .explainer {
    padding-top: 30vh;
    font-size: 1.5em;

    b {
      color: $white;
    }
  }
}

h1 {
  font-family: 'Raleway';
  font-size: 2em;

  span {
    color: hsla(0, 0%, 13%, .5);
    text-transform: capitalize;
  }
}

h5 {
  font-family: 'Raleway';
  color: hsla(0, 0%, 13%, .5);
}

.big-content {
  margin-bottom: 44px;
  font-family: 'GFS Didot';
  font-size: 1.7em;

  a {
    color: #222;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
      color: $highlight-black-link;
    }
  }
}

.intro {
  margin-top: 3em;
  margin-bottom: -4em;

  img {
    border-radius: 1em;
  }
}

.content-middle {
  // padding-top: .2em;
}

.question-answer~.question-answer {
  padding-top: 3em;
}

.question-answer:last-child {
  padding-bottom: 0;
}

.content {
  margin-bottom: 44px;
  font-family: 'GFS Didot';
  font-size: 1.45em;
}

.content-pad {
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottom-skew:after{
  background: none repeat scroll 0 0 #fff;
  bottom: -100px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, 4deg);
  width: 100%;
  z-index: 1;
}

.light-part {
  background-color: #f7f7f7;
  padding: 175px 0 1px;
}

.light-part:after{
  background: none repeat scroll 0 0 #f7f7f7;
  bottom: -100px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, -4deg);
  width: 100%;
  z-index: 1;
}

.no-skew:after {
  transform: none;
}

.dark-part {
  padding-top: 14em;
  padding-bottom: 1.5em;
  background: rgba(34,34,34,1);
  color: #fff;
  font-family:'GFS Didot';

  h4 {
    color: $white;
  }
}

.dark-part-bottom-skew {
  padding-top: 4em;
}

.follow {
  hr {
    margin: 2em;
  }

  a {
    font-family: 'Montserrat';
    color: #009ad6;
    font-size: 12px;
    font-weight: 400;

    &:hover {
      color: #222;
    }
  }
}

.dark-part-bottom-skew:after {
  background: none repeat scroll 0 0 rgba(34,34,34,1);
  bottom: -100px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, 4deg);
  width: 100%;
  z-index: 1;
}

.quote {
  background: url('../img/background4.jpg');
  background-size: cover;
  background-position: center;
  height: 220px;
  font-size: 1.1em;
  color: #fff;
  padding-top: 50px;
}

.btn {
  &:active {
    color: $white;
  }
}
