/***************** PSEUDO & GENERAl CLASSES ***************/

#main-container{ overflow: hidden; }
body{  -webkit-font-smoothing: antialiased; font-family: 'GFS Didot'; }
.no-last{ float: left !important; }
input{ -webkit-appearance: none; }
section{ position: relative;}
.page-header{ text-align: center; margin-bottom: 44px; border-bottom: none;}
.page-header i{ font-size: 24px; }
.page-header h4{ margin-top: 11px; }
h1, h2, h3, h4, h5, h6 {color: #222;font-family: "Courier New","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;font-weight: bold; text-transform:uppercase;letter-spacing: 5px;line-height: 1.2125em;text-rendering: optimizelegibility;}
a {cursor: pointer;color: #FFF;}
a:hover {text-decoration:none; color: #222;}
a:focus {outline: none;text-decoration:none}
.callout-wrapper{ background-color: #222; padding: 15px; }
.callout{ background-color: #222; padding: 25px; border: 2px solid #fff; overflow: hidden; }
.callout h5{ margin-bottom: 11px; overflow: hidden; }
.callout p{ margin-bottom: 0px; }
.callout i{ font-size: 72px; }
#client-divider{
  background-color: rgba(34,34,34,1);
  background-size: 100%;
  position: relative;
}

#client-divider:before{ position: absolute; width: 100%; height: 100%; background-color: rgba(34,34,34,1); content:''; }
#client-divider .page-header{ margin-top: 88px; }
#client-divider img{ max-width: 80%; margin-bottom: 88px; }

.display-0 {
  display: none;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

/** SPACING **/

.pad-large{
  padding-top: 88px;
  padding-bottom: 88px;
}

.pad-small{
  padding-top: 44px;
  padding-bottom: 44px;
}

.pad-bottom{
  margin-bottom: 88px;
}

/** TYPO **/

.text-white{
  color: #fff;
}

.hr{
  margin: 0px auto;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 80px;
  height: 10px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAJElEQVQYlWNgwAT/sYjhVIRXMbokVsW4TPhPjCJi5clXTBwAAOy+CfekNMf3AAAAAElFTkSuQmCC') repeat-x;
}

  .hr.dark{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAAJ0lEQVQYlWNgQAP/////jy6GAWCK8CpGl8SqGJcJKOKE3ESUm8kCANuVI92CXXpyAAAAAElFTkSuQmCC') repeat-x;
}



/** BUTTONS **/

.btn{
  padding: 15px 25px 15px 25px;
  border: 7px double #222;
  background-color: #222;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 12px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  color: #FFF;
  text-transform: uppercase;
}

.twitter-bg{
  background-color: #009ad6;
  border-color: #009ad6;
}

.twitter-bg:hover h6{
  color: #009ad6 !important;
}

.twitter-bg:hover i{
  color: #009ad6 !important;
}

.btn h6{
  letter-spacing: 2px;
  margin-right: -2px;
  float: right;
  color:#fff;
}

.btn i{
  display: inline;
  float: left;
  margin: 7px 0 0 0;
  font-size: 12px;
  color: #fff;
}

.btn:hover{
  background-color: #fff;
}

.btn:hover h6{ color: #222; }
.btn:hover i{ color: #222; }

.btn-inverse {
  background-color: #fff;
}

.btn-inverse h6{ color: #222; }
.btn-inverse i{ color: #222; }

.btn-inverse:hover {
  background-color: #222;
  color: #fff;
}

.btn-inverse:hover h6{ color: #fff; }
.btn-inverse:hover i{ color: #fff; }

.btn-notify {

  padding: 5px 10px;
}

/********************* HOME ********************/

$white: #fff;

.home {
  overflow: hidden;
  background: #222;

  .logo {
    color: $white;
}
}


/********************* ABOUT ********************/

#about .btn{
  margin-right: 11px;
}


/********************* SERVICES ********************/


#services .callout-wrapper{ margin-top: 44px; }

.service{
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
}


.service-hr{
  margin: 0px auto;
  background-color: #222;
  position: relative;
  top: 108px;
}

.service p{
  margin-bottom: 0px;
  margin-top: 22px;
  font-size: 16px;
}

.service-diamond-holder{
  width: 170px;
  height: 170px;
  margin: 0px auto;
  margin-bottom: 22px;
}

.diamond-border{
  width: 90%;
  height: 90%;
  border: 2px solid #222;
  top: 6px;
  left: 6px;
  position: relative;
  border-radius:10px;

}

.service-diamond{
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 0px auto;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  position: relative;
  top: 25px;
  border-radius:10px;
}

.service-diamond i{
  display: inline-block;
  font-size: 25px;
  position: relative;
  top: 35px;
  color: #222;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}

.service-diamond:hover i {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

/********************* EDUCATION ********************/

#education{
  padding-top: 150px;
  padding-bottom: 100px;
}

#education:after{
  background: none repeat scroll 0 0 rgba(255,255,255,1);
  bottom: -100px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, -4deg);
  width: 100%;
  z-index: 1;
}


/********************* TEAM ********************/
#team-slider,
#experience-slider{
  position: relative;
  font-size: 1.4em;
}

#team-slider .item img {
  display: block;
  margin: 0 auto;
}

#team-slider .item .member {
  margin-top: 50px;
}

#team-slider .item .member h4,
#experience-slider .item .experience h4 {
  color: #fff;
}

#team-slider .item .member i {
  font-size: 12px;
}

#team-slider .item .member p,
#experience-slider .item .experience p {
  font-size: 16px;
  margin-top: 20px
}

#team-slider .carousel-control.left,
#team-slider .carousel-control.right {
  background-image: none;
  top: 40%;
}

#team-slider .carousel-control.left {
  left: 0;
}

#team-slider .carousel-control.right {
  right: 0;
}

#team-slider h6,
#experience-slider h6{
  color: #fff;
  font-size: 0.6em;
}

#team-slider p{
  margin-bottom: 50px;
}

#experience-slider p{
  margin-bottom: 70px;
}

h3.period,
h4.organisation {
  float: right;
  clear: both;
}

h4.organisation {
  margin-top: 30px;
  padding-top: 10px;
}
.organisation:before{
  background: none repeat scroll 0 0 #ddd;
  top: 70px;
  content: " ";
  height: 2px;
  right: 20px;
  position: absolute;
  width: 50px;
  z-index: 1;
}

.experience h4 span.result {
  font-style: italic;
  font-weight: 100;
}

.experience p {
  font-size: 16px;
}

/********************* BLOG ********************/

#blog{
  padding-top: 175px;
  padding-bottom: 88px;
  background-color: rgba(255,255,255,1);
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  font-family:'GFS Didot';
  min-height: 750px;
}

#blog.related{
  padding-top: 20px;
  padding-bottom: 75px;
}
#blog.resume{
  padding-top: 20px;
  padding-bottom: 175px;
}
#blog.related .page-header i,
#blog.related .preview-body p,
#blog.related a .post-date,
#blog.resume .page-header i,
#blog.resume .preview-body p,
#blog.resume a .post-date{
  color: #222;
}
#blog.related .preview-body h5,
#blog.resume .preview-body h5 {
  margin-top: 25px;
  text-align: center;
}
#blog.related .preview-body p,
#blog.resume .preview-body p {
  font-size: 16px;
  text-align: justify;
}
#blog.related .post-date,
#blog.resume .post-date {
  position: absolute;
  top: 30px;
  background: #f5f5f5;
  padding: 5px;
}
#blog.related:before{
  background: none;
  top: 0px;
  content: " ";
  height: 0px;
  left: 0;
  position: absolute;
  transform: skew(0deg, 0deg);
  width: 100%;
  z-index: 1;
}
#blog.resume:before{
  background: none repeat scroll 0 0 rgba(255,255,255,1);
  top: -100px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, 4deg);
  width: 100%;
  z-index: 1;
}
#blog.related:after{
  background: none;
  bottom: 0px;
  content: " ";
  height: 0px;
  left: 0;
  position: absolute;
  transform: skew(0deg, 0deg);
  width: 100%;
  z-index: 1;
}
#blog:before{
  background: none repeat scroll 0 0 rgba(34,34,34,1);
  top: -75px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, 4deg);
  width: 100%;
  z-index: 1;
}
#blog:after{
  background: none repeat scroll 0 0 rgba(34,34,34,1);
  bottom: -100px;
  content: " ";
  height: 150px;
  left: 0;
  position: absolute;
  transform: skew(0deg, -4deg);
  width: 100%;
  z-index: 1;
}
#blog-slider{
  position: absolute;
  font-size: 1.4em;
  width: 100%;
  top: -150px;
  left: 0;
}

#blog-slider .page-header{
  position: absolute;
  top: 130px;
  z-index:9999;
  width: 100%;
  text-align: center;
}

#blog-slider .item{
  text-align: center;
  min-height: 800px;
  padding-top: 330px;
  left: 0 !important;
  opacity:0;
  -webkit-transition-property:opacity 1s;
  -moz-transition-property:opacity 1s;
  -o-transition-property:opacity 1s;
  transition-property:opacity 1s;
  background-repeat:no-repeat;
  background-size:cover
}

#blog-slider .item.active {
  opacity:1
}

#blog-slider .carousel-control.left,
#blog-slider .carousel-control.right {background-image: none; top: 40%;
}

#blog-slider h6{
  color: #fff;
  font-size: 0.6em;
}

#blog-slider p{
  margin-bottom: 44px;
}

.post-preview {
  margin: 50px 0;
}

.service-diamond-holder.blog-nav{
  width: 120px;
  height: 120px;
  margin: 0px auto;
  margin-bottom: 0;
  clear: both;
}

.service-diamond-holder.blog-nav .service-diamond{
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  margin: 0px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  position: relative;
  top: 25px;
  border-radius:10px;
}

.service-diamond-holder.blog-nav .service-diamond i{
  font-size: 25px;
  top: 5px;
  color: #222;
}

.service-diamond-holder.blog-nav .service-diamond:hover i {
  font-size: 23px;
  top: 7px;
  color: #444;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}

.post-info {
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}

.post-info span {
  padding: 0 2px;
}
.post-info .dot:before {
  content: "/";
}

#single-post .post {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
#single-post .post-body {
  text-align: justify;
  font-size: 16px;
}

blockquote {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 26px;
}
.social-row.share .btn {
  padding: 0 10px;
  background: none;
}
.social-row.share .btn i{
  color: #222;
}
.social-row.share .btn:hover {
  background: #222;
}
.social-row.share .btn:hover i{
  color: #fff;
}
#comments {
  margin-bottom: 50px;
}
#comments h5 {
  text-transform: uppercase;
  font-size: 13px;
}
.comments-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.comments-list > li {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.comments-list > li:before,
.comments-list > li:after {
  content: " ";
  display: table;
}
.comments-list > li:after {
  clear: both;
}
.comments-list .children {
  margin: 15px -15px 0;
  list-style: none;
  border-top: 1px solid #ddd;
}
.comments-list .children > li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.comments-list .children > li:last-child {
  border-bottom: 0;
}
.comment:before,
.comment:after {
  content: " ";
  display: table;
}
.comment:after {
  clear: both;
}
.comment img {
  margin-top: 10px;
}
.comment-date {
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}
.comment-reply {
  text-transform: uppercase;
  font-size: 11px;
}
#respond h5 {
  font-size: 13px;
  text-transform: uppercase;
}
.comment-respond {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 50px;
}
.comment-respond .form-control {
  font-size: 11px;
  text-transform: uppercase;
}
.comment-respond textarea {
  min-height: 120px;
  max-width: 100%;
  resize: none;
}
.comment-respond input.form-control,
.comment-respond textarea.form-control {
  border: 1px solid #222;
}
.comment-respond input.form-control:focus,
.comment-respond textarea.form-control:focus {
  border: 1px solid #444;
}
.form-double:before,
.form-double:after {
  content: " ";
  display: table;
}
.form-double:after {
  clear: both;
}
.form-double .form-group {
  width: 50%;
  float: left;
  padding-right: 5px;
}
.form-double .form-group.last {
  padding-right: 0;
  padding-left: 5px;
}
.form-submit {
  text-align: right;
}
.single-post-footer  {
  background: #f7f7f7;
  padding: 75px 0;
  margin-top: 75px;
  margin-bottom: 75px;
}
.single-post-footer .newsletter-box #notifyMe {
  width: 80%;
  margin: auto;
}
.single-post-footer input.form-control {
  height: 40px;
  padding:10px;
  border: 1px solid #444;
  background: rgba(255,255,255,0.7);
}
.single-post-footer .input-group .btn-dark {
  height: 40px;
}
/********************* CLIENTS ********************/
#client-divider{
  padding: 25px 0;
}
.client-logo img {
  opacity: 0.5;
}
.client-logo:hover img {
  opacity: 1;
}
/********************* CONTACT ********************/

// #contact{
//   position: relative;
// }
//
// #contact.single-post:before{
//   background: none;
//   top: 0px;
//   content: " ";
//   height: 0px;
//   left: 0;
//   position: absolute;
//   transform: skew(0deg, 0deg);
//   width: 100%;
//   z-index: 10;
// }
// #contact:before{
//   background: none repeat scroll 0 0 rgba(34,34,34,1);
//   top: -70px;
//   content: " ";
//   height: 150px;
//   left: 0;
//   position: absolute;
//   transform: skew(0deg, 4deg);
//   width: 100%;
//   z-index: 10;
// }

#contact-content{
  background-color: rgba(247,247,247,0.9);
  position: relative;
  z-index: 1;
  padding-top: 88px;
  padding-bottom: 88px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  opacity: 1;
}

.fade-out{
  opacity: 0.2 !important;
}


#contact h6{
  letter-spacing: 3px;
  margin-right: -3px;

}

#formcontactus {
  text-align: right;
}
#formcontactus .form-group {
  margin-bottom: 25px;
}
.error-form {
  float: right;
  margin: -24px 2px 0 0;
  position: relative;
  top: 0;
}
.error-form i:before {
  color: #C33;
  font-size: 100%;
  vertical-align: top;
  margin-right: 10px;
}
.alert-success {
  text-align: left;
}
#formcontactus .form-control {
  background-color: #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-left: 2px solid transparent;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #363636;
}
#formcontactus .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-left: 2px solid #666;
}
#formcontactus textarea {
  resize: none;
}

#contact iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 0;
}

#contact .service-diamond{
  background-color: rgba(0,0,0,0);
}

#contact .service-row{
  margin-bottom: 22px;
}

.social-row{
  margin-top: 44px;
  margin-bottom: 88px;
}

#map {
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#copy-text{
  font-family: 'Courier New';
  letter-spacing: 3px;
  margin-right: 3px;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.7;
}
#map-panel,
#contact-panel {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: -999;
  opacity: 0;
}
#map-panel.open,
#contact-panel.open {
  z-index: 999;
  opacity: 1;
}
.overlay-close {
  color: #9B9B9B;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 99999999;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}
.overlay-close:hover {
  color: #d5a98a;
}


/********* MOBILE PHONES *********/

@media only screen and (max-width: 980px){

  #mobile-toggle{ display: block; }
  #menu li{ float: none; margin-right: 0px; margin-bottom: 22px; }
  #menu{ float: none; }
  #team-slider .item  {z-index: 9;}

  h3.period,h4.organisation {float: left;clear: both;}
  .organisation:before{left: 20px;}

  .single-post-footer .newsletter-box { display: block;clear: both;padding-top: 75px;}
}

@media only screen and (max-width: 767px){

  #home-slider .display-h{ font-size: 35px; }
  .work-row { margin: 0 0;}
  .work-item-wrapper{ margin:0px auto; margin-bottom: 22px; }
  .mid-row .work-item-wrapper{ left: 0px; }
  .last-row{ padding-bottom: 0px; }
  #client-divider img{ max-width: 50%; }
  #mobile-toggle{ display: block; }
  #menu li{ float: none; margin-right: 0px; margin-bottom: 22px; }
  #menu{ float: none; }
  #home-slider .slides li{ background-attachment: scroll !important; }
  #client-divider{ background-attachment: scroll; }
}

/************* TABLETS (portrait and landscape) ************/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  #home-slider .slides li{ background-attachment: scroll !important; }
  #client-divider{ background-attachment: scroll; }

}


/*********** TABLETS (portrait) ************/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  #home-slider .display-h{ font-size: 45px; }
  .work-item-wrapper{ margin:0px auto; margin-bottom: 22px; }
  .mid-row .work-item-wrapper{ left: 0px; }
  .last-row{ padding-bottom: 0px; }
  .work-row .large-4{ width: 100%; }

}

@media only screen and (max-width: 480px){
  .resume-pic,
  .typed{ display: none; }
}
