doctype html
html
  head
    title My Friend is a Founder - A series of interviews with founders you can relate to.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(href='http://fonts.googleapis.com/css?family=GFS+Didot', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css")
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/fontello/css/fontello.css')
  body
    main
      section.home
        .row
          .col-md-12
            a.logo(href='/') My Friend is a Founder
        .row
          .col-md-offset-2.col-md-8.explainer.text-center
            p A series of interviews with <b>founders you can relate to</b>.
            p
              | With the <b>focus</b> to decode <b>last steps to a successful business</b>.

      section.pad-large.bottom-skew
        .container
          .row
            .col-md-12.text-center
              h1
                | Quiting coding to become a founder
                span  | Dima
              h5 4 minutes
              .row
                .col-md-offset-2.col-md-8
                  .big-content.content-pad
                    | <a href='https://twitter.com/snovity'><b>Dima</b></a> is a
                    |  <b>co-founder of <a href='http://playgong.com'>Playgong</a></b> - an app for creating leaderboards for offices, sport clubs - anywhere where people play 1 on 1 competitive games.
                  .hr
              .intro.row
                .col-md-offset-1.col-md-4
                  img.img-responsive(src='img/sea.jpg')
                .col-md-6
                  .content.text-left
                    p
                      | I’ve met Dima on the first day of my first job as a coder.
                      | It was three years ago and he already had a reputation of being a great builder.
                    p
                      | He changed a job since then and more than a year ago <b>he quit it all -
                      | to start his own company</b>.
                    p
                      | It was a risky move, since they had <b>no revenue</b> and <b>no users</b>.
                      | It was also a brave move with the attitude of “I will make it work no matter what”.

      section.light-part
        .container.content
          .row.question-answer
            .col-md-7
              :markdown
                #### - Why did you <b>quit a well-paid coder job</b>?

                I was always into making new stuff that can be immediately used. That’s why I became
                a software developer in the first place. For me, starting a product
                company is just a next logical step on this way. While studying I
                became really interested in startups and after graduating I worked
                for startup companies. One was a B2B startup, and another one was
                B2C. As a result, I decided, that I want to make a B2C startup,
                because it is less about sales, and much more about a great product
                and a community.

          .row.question-answer
            .col-md-offset-5.col-md-7
              :markdown
                #### - How do you survive without the pay-check?

                There was some simple preparation for that. You save up money,
                secure support from your close ones and find ways to reduce your expenses.

                Quitting gives your focus and dedication. You have lower chances
                of succeeding if you lack those.

          .row.question-answer
            .col-md-7
              :markdown
                #### - You're transitioning from a coder to a founder. What did you learn?

                The most surprising thing I’ve learnt is that you have to do things
                you don’t like doing. Things that should work only “good enough”.
                Things that you are not good at. And even if you know how to do things
                really well - you cannot do them, because you have other stuff to do.

                You have to become a generalist and learn how to cut corners.

      section.dark-part
        .container.content
          .row.question-answer
            .col-md-offset-5.col-md-7
              :markdown
                #### - What is the story of Playgong?

                We were playing table tennis in my last company. Since we were really
                competitive - we decided to track the results and create a leaderboard.
                It was really dull and inconvenient at first - a Google spreadsheet.

                Then Vilius Kraujutis, who was my colleague back then and is my co-founder
                now, came up with an idea of making an app during the hackathon.
                We made the prototype and won “Best app developed at App Camp 2013”
                prize. Glorious days.

                After that we started building Playgong in the evenings. I got fed
                up with working like that and wanted to dedicate myself fully to
                this. I quit my job as a coder and a few months ago my co-founder
                did that too.
          .row.question-answer
            .col-md-7
              :markdown
                #### - How is it going for you since then?

                Our product doesn’t solve any obvious pain - people have to love
                it to use it. We have to find a very precise product-market fit for
                our product to be used.

                We we’re building it and constantly checking the feedback with our
                first users. A lot of things we’re not working the way we saw them
                and we guessed things wrong quite a few times. We tried to implement
                a "challenge" feature that needed a complete in-app communication.
                We wasted too much time trying to make it work and it is not used
                now. It was clearly too early for that.

                Then we tried to compensate for the fact that we have only one Android
                platform by adding more features to the same Android platform. In
                hindsight, it was kind of stupid to think it would work. Surely,
                it was a dead end and we ended up making a responsive web that works
                on all devices.

                Before writing down user personas we were in a fog. After that -
                everything became much clearer. We could have saved a lot of time
                if we had them before doing anything technical.

                Product management comes first and only then comes the development -
                we learn't that the hard way. You have low chances of hitting
                the right note by implementing everything that simply seems right
                at the first glance.

                We believe that we have finally found our product-market fit. We
                are really excited to test it in the upcoming weeks.

          .row.question-answer
            .col-md-offset-5.col-md-7
              :markdown
                #### - What is your plan to turn it around?

                We will be doing validation of product-market fit in offices that
                we have agreed with before hand.  Once we have the initial validation,
                we’ll start raising angel capital to expand that validation both
                in scale and in time.

                By the way, we have a bigger vision. Once we have a critical mass
                of users, we will roll out a feature where Playgong finds you a fellow
                player of the similar skill near you for the sport you play. Most
                importantly, skill level will be based on real data. Imagine, you
                are bored and want to play tennis, you hit one button and you have
                a fellow player of the similar skill that is fun to play with.

      section.quote
        .container
          .row.big-content
            .col-md-offset-3.col-md-6
              blockquote
                | The most surprising thing I’ve learnt is that <b>you have to do things
                |  you don’t like doing</b>. Things that you are not good at. - Dima

      section.dark-part.dark-part-bottom-skew
        .container.content
          .row.question-answer
            .col-md-7
              :markdown
                #### - Do you have thoughts about starting a small, less risky company?

                I think, if I’m forced to by the situation at hand I might try to
                start a less risky business. But, probably, I would try to use that
                business to accumulate resources and experience for testing startup
                ideas quickly and efficiently.

          .row.question-answer
            .col-md-offset-5.col-md-7
              :markdown
                #### - How do you motivate your co-founders?

                Making a startup is such a demanding endeavour that I believe it’s
                nearly impossible to motivate someone to do it. Co-founders have
                to be self-motivated for the most part. But of course everyone has
                bad times, at such times it is very important that your co-founder
                would keep moving forward. Nothing motivates more, than being one
                step closer to your goal. Gladly, this is the case with Playgong team.

          .row.question-answer
            .col-md-offset-5.col-md-7
              :markdown
                #### - Is there any problems you would love others would solve for you?

                I’d love to have an app that would scan a barcode of a product in
                a grocery shop and would give an indication of how healthy it is
                It could also list all the ingredients with
                a short explanation and health risks. Reading the description on
                a package in small type takes a lot of time.

                I solve this by buying the stuff I know over and over again - but it's sub-optimal.

      section.light-part.no-skew
        .container.content.text-center
          .col-sm-12
            i.icon-heart
            h4 Learn more from friendly founders
            .hr
          .col-sm-offset-4.col-sm-4
            .form-group
              input.form-control.input-lg.requiretop(name='email', type='email', placeholder='Your Best Email')
          .col-sm-offset-3.col-sm-6
            .form-group
              button.btn(type='submit') Learn from friendly founders
            #copy-text
              p An interview every few weeks
          .col-sm-offset-3.col-sm-6
            .follow
              hr
              a(href='https://twitter.com/myfriendisafounder' target='_blank')
                span OR FOLLOW THEM
                i.icon-twitter
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src="//load.sumome.com/" data-sumo-site-id="36086a8e9a7bb32811b73783d122d9cb2d7ba393666342261d0ddddc25c1e48c" async="async")
